@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  overflow: auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#05a3ca), color-stop(93.75%, #03294d));
  background: linear-gradient(180deg, #05a3ca 0%, #03294d 93.75%);
}

.container {
  max-width: 100%;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 0;
}

.content__left {
  width: 100%;
  min-height: 100%;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
  padding: 10px 18px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  margin: 0 6px 0 0;
}

.content__right {
  width: 100%;
  min-height: 100%;
  background: rgba(101, 114, 141, 0.3);
  border-radius: 10px;
  padding: 10px 18px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.6667%;
          flex: 1 1 66.6667%;
}

@media (max-width: 850px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .content__right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.container-left {
  min-width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 850px) {
  .container-left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 585px) {
  .container-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.profile {
  width: 100%;
  margin: 0 2% 20px 0;
}

.profile__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 30px 0 0;
  text-align: center;
  padding: 0 0 50% 50%;
  border: 5px solid white;
}

.profile__logo img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.profile__sername {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #cecaca;
}

.profile__my-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 0.15em;
  /* identical to box height */
  color: #ffffff;
}

.profile__proffecional {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  color: #CECACA;
  letter-spacing: 0.1em;
  margin: 0 0 0 0;
}

@media (max-width: 850px) {
  .profile {
    width: 48%;
  }
}

@media (max-width: 680px) {
  .profile {
    width: 60%;
  }
}

@media (max-width: 585px) {
  .profile {
    width: 100%;
  }
}

.contact {
  margin: 0 0 20px 0;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__em {
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
  margin: 0 0 10px 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contact__email {
  font-size: 15px;
  text-align: center;
}

.contact__icon {
  display: block;
  margin: 0 30px 0 10px;
}

@media (max-width: 850px) {
  .contact {
    width: 50%;
  }
}

@media (max-width: 680px) {
  .contact {
    width: 48%;
    margin: 0 2% 20px 0;
  }
}

@media (max-width: 585px) {
  .contact {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.contact-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: rgba(207, 234, 247, 0.9);
}

.knowledge {
  width: 100%;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 2% 20px 0;
}

.knowledge__list li {
  padding: 0 5px 5px 0;
  margin: 0 5px;
  position: relative;
}

.knowledge__list li svg {
  width: 8px;
  height: 8px;
  padding: 0 0 2px 0;
  margin: 0 5px 0 0;
}

@media (max-width: 850px) {
  .knowledge {
    width: 48%;
  }
}

@media (max-width: 680px) {
  .knowledge {
    margin: 0 0 20px 0;
  }
  .knowledge {
    width: 50%;
  }
}

@media (max-width: 585px) {
  .knowledge {
    width: 100%;
  }
}

.language {
  width: 100%;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 0 20px 0;
}

.language__widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.language__list li {
  padding: 0 5px 5px 0;
  margin: 0 5px;
  position: relative;
}

@media (max-width: 850px) {
  .language {
    width: 50%;
  }
}

@media (max-width: 680px) {
  .language {
    margin: 0 2% 20px 0;
  }
  .language {
    width: 48%;
  }
}

@media (max-width: 585px) {
  .language {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.icon {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5px 0 0 0;
}

.icon__russian {
  height: 23px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.icon__russian svg {
  width: 10px;
  height: 10px;
  padding: 2px 0 0 0;
  margin: 0 0 0 5px;
}

.icon__ukraine {
  height: 23px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.icon__ukraine svg {
  width: 10px;
  height: 10px;
  padding: 2px 0 0 0;
  margin: 0 0 0 5px;
}

.icon__english {
  height: 23px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.icon__english svg {
  width: 10px;
  height: 10px;
  padding: 2px 0 0 0;
  margin: 0 0 0 5px;
}

.social {
  width: 100%;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 2% 10px 0;
}

.social__list li {
  padding: 0 5px 5px 0;
  margin: 0 5px;
  position: relative;
}

@media (max-width: 850px) {
  .social {
    width: 48%;
  }
}

@media (max-width: 680px) {
  .social {
    margin: 0 0 20px 0;
  }
  .social {
    width: 50%;
  }
}

@media (max-width: 585px) {
  .social {
    width: 100%;
  }
}

.hobbies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
  margin: 0 0 10px 0;
}

.hobbies__title {
  width: 150px;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
  padding: 10px 0 10px 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hobbies__img {
  padding: 0 5px 5px 0;
  margin: 20px 5px 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hobbies__categories {
  color: rgba(207, 234, 247, 0.9);
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
}

.hobbies__categories svg {
  margin: 0 0 10px 0;
}

@media (max-width: 850px) {
  .hobbies {
    width: 50%;
  }
}

@media (max-width: 680px) {
  .hobbies {
    width: 100%;
  }
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin: 0 0 5px 0;
}

.list-title {
  color: rgba(207, 234, 247, 0.9);
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1em;
}

.list-title__link {
  color: rgba(207, 234, 247, 0.9);
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1em;
}

.container-right {
  min-width: 100%;
  padding: 20px;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experience__form {
  margin: 0 0 40px 0;
}

.title-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
}

.title-right__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  /* identical to box height, or 129% */
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
  padding: 10px;
  color: #FFFFFF;
}

.title-right__decor {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.title-right__line {
  width: 100%;
  height: 1px;
  background: rgba(196, 196, 196, 0.35);
}

.form__title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  margin: 0 0 5px 0;
  /* identical to box height, or 129% */
  color: #032d49;
}

.form__subtitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin: 0 0 5px 0;
  /* identical to box height, or 150% */
  color: #032d49;
}

.form__date {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 10px 0;
  /* identical to box height, or 200% */
  color: #405461;
}

.form__text {
  max-width: 75%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 0.1em;
  /* or 156% */
  color: rgba(177, 219, 238, 0.8);
}

.my-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 20px 0;
}

.my-skill__image {
  background: rgba(196, 196, 196, 0.15);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 100%;
}

.my-skill__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.my-skill__icon {
  width: 100%;
  padding: 0 0 20px 0;
}

.my-skill__title {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1em;
}

.footer {
  height: 50px;
  width: 100%;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
}
