@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");

.wrapper {
  overflow: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgb(5, 163, 202) 0%,
    rgb(3, 41, 77) 93.75% 
  );
}

.container {
  max-width: 100%;
  min-height: 100%;
  flex: 1 1 auto;
//   margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  
}

.content {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  margin: 0 0 10px 0;
  // .content__left

  &__left {
    width: 100%;
    min-height: 100%;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 10px;
    padding: 10px 18px;
    flex: 1 1 33.3333%;
    margin: 0 6px 0 0;
  }

  // .content__right

  &__right {
    width: 100%;
    min-height: 100%;
    background: rgba(101, 114, 141, 0.3);
    border-radius: 10px;
    padding: 10px 18px;
    flex: 1 1 66.6667%;
  }

  @media (max-width: 850px) {
    & {
        flex-direction: column;
    }
    &__left {
        flex: 1 1 auto;
    }
    &__right {
        flex: 1 1 auto;
    }
  }
  
  
}

.container-left {
  min-width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  @media (max-width: 850px) {
      flex-direction: row;
      flex-wrap: wrap;
  }
  @media (max-width: 585px) {
      flex-direction: column;          
  }   
}

.profile {
    width: 100%;
    margin: 0 2% 20px 0;
  // .profile__row

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .profile__logo

  &__logo {
    flex: 1 1 50%;
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 30px 0 0;
    text-align: center;
    padding: 0 0 50% 50%;
    border: 5px solid white;
    & img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  

  // .profile__name

  &__name {
    flex: 1 1 50%;

    
  }

  // .profile__sername

  &__sername {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.1em;

    color: #cecaca;
  }

  // .profile__my-name

  &__my-name {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 43px;
    letter-spacing: 0.15em;
    /* identical to box height */

    color: #ffffff;
  }

  // .profile__proffecional

  &__proffecional {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    
    color: #CECACA;
    letter-spacing: 0.1em;
    margin: 0 0 0 0;
  }
  @media (max-width: 850px) {
    & {
        width: 48%;
    }
  }
  @media (max-width: 680px) {
    & {
        width: 60%;
    }
  }
  @media (max-width: 585px) {
    & {
        width: 100%;
    }         
  }
  
  

//   @media (min-width: 950px) {
//     &__logo {
//       width: 200px;
//       min-height: 200px;
//     }
//     &__name {
        
//     }
//     &__sername {
//         font-size: 50px;
//         margin: 0 0 20px 0;
//     }
//     &__my-name {
//         font-size: 70px;
//         margin: 0 0 20px 0;

//     }
//     &__proffecional {
//         font-size: 32px;
//         padding: 0 0 0 5px;
//     }
// }
}
.contact {
    margin: 0 0 20px 0;
    // .contact__row

    &__row {
        display: flex;
        flex-direction: column;
    }

    // .contact__email
    &__em {
        background: rgba(196, 196, 196, 0.35);
        border-radius: 10px;
        margin: 0 0 10px 0;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__email {
        
        font-size: 15px;
        text-align: center;
    }

    // .contact__icon

    &__icon {
        
        display: block;
        margin: 0 30px 0 10px;
    }
    @media (max-width: 850px) {
        & {
            width: 50%;
        }
    }
    @media (max-width: 680px) {
        & {
            width: 48%;
            margin: 0 2% 20px 0;
      }
    }
    @media (max-width: 585px) {
        & {
            width: 100%;
            margin: 0 0 20px 0;
        }         
    }
    
    
    // @media (min-width: 950px) {
    //     &__email {
    //         font-size: 30px;
    //         display: inline-block;
    //         text-align: center;
    //         vertical-align: center;
    //     }
    //     &__icon {
    //         width: 60px;
    //         height: 60px;
            
    //     }
    // }
}


.contact-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1em;

    color: rgba(207, 234, 247, 0.9);

}

.knowledge {
    width: 100%;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 2% 20px 0;
    // .knowledge__title

    &__title {
        
    }

    // .knowledge__list

    &__list {
        

        & li {
            padding: 0 5px 5px 0;
            margin: 0 5px;
            position: relative;
            svg {
                width: 8px;
                height: 8px;
                padding: 0 0 2px 0;
                margin: 0 5px 0 0;
                
            }
        }

    }
    @media (max-width: 850px) {
        & {
            width: 48%;
        }
    }
    @media (max-width: 680px) {
        & {
            width: 50%;
        }
        margin: 0 0 20px 0;
    }
    @media (max-width: 585px) {
        & {
            width: 100%;
            
        }         
    }
    
}
.language {
    width: 100%;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 0 20px 0;
    // .language__title

    &__title {
    }

    // .language__widget

    &__widget {
        display: flex;
    }

    // .language__list

    &__list {

        & li {
            padding: 0 5px 5px 0;
            margin: 0 5px;
            position: relative;
            
        }
    }

    // .language__icon

    &__icon {
    }
    @media (max-width: 850px) {
        & {
            width: 50%;
        }
    }
    @media (max-width: 680px) {
        & {
            width: 48%;
        }
        margin: 0 2% 20px 0;
    }
    @media (max-width: 585px) {
        & {
            width: 100%;
            margin: 0 0 20px 0;
        }         
    }
}

.icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.5px 0 0 0;
    // .icon__russian

    &__russian {
        height: 23px;
        justify-self: center;
        svg {
            width: 10px;
            height: 10px;
            padding: 2px 0 0 0;
            margin: 0 0 0 5px;
        }
        
    }

    // .icon__ukraine

    &__ukraine {
        height: 23px;
        justify-self: center;
        svg {
            width: 10px;
            height: 10px;
            padding: 2px 0 0 0;
            margin: 0 0 0 5px;
        }
    }

    // .icon__english

    &__english {
        height: 23px;
        justify-self: center;
        svg {
            width: 10px;
            height: 10px;
            padding: 2px 0 0 0;
            margin: 0 0 0 5px;
        }
    }
}
.social {

    width: 100%;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 2% 10px 0;
    // .social__title

    &__title {
    }

    // .social__list

    &__list {

        & li {
            padding: 0 5px 5px 0;
            margin: 0 5px;
            position: relative;
            
        }
    }
    @media (max-width: 850px) {
        & {
            width: 48%;
        }
    }
    @media (max-width: 680px) {
        & {
            width: 50%;
        }
        margin: 0 0 20px 0;
    }
    @media (max-width: 585px) {
        & {
            width: 100%;
            
        }         
    }
}

.hobbies {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin: 0 0 10px 0;
    // .hobbies__title

    &__title {
        width: 150px;
        background: rgba(196, 196, 196, 0.35);
        border-radius: 10px;
        padding: 10px 0 10px 25px;
        align-self: center;
    }

    // .hobbies__img

    &__img {
        padding: 0 5px 5px 0;
        margin: 20px 5px 10px 5px;
        display: flex;
    }

    // .hobbies__categories

    &__categories {
        color: rgba(207, 234, 247, 0.9);
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: center;
        svg {
            margin: 0 0 10px 0;
        }
    }
    @media (max-width: 850px) {
        & {
            width: 50%;
        }
    }
    @media (max-width: 680px) {
        & {
            width: 100%;
      }
    }
}
.white {
}

.title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #ffffff;
    margin: 0 0 5px 0;
    
}
.list-title {
    color: rgba(207, 234, 247, 0.9);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1em;

    &__link {
        color: rgba(207, 234, 247, 0.9);
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.1em;
    }

}

// -----------------------------------------------

.container-right {
    min-width: 100%;
    padding: 20px;
}

.experience {
    display: flex;
    flex-direction: column;
    // .experience__title

    &__title {

    }

    // .experience__form

    &__form {
        margin: 0 0 40px 0;
    }
}
.title-right {
    display: flex;
    margin: 0 0 20px 0;
    // .title-right__block

    &__block {
        flex: 1 1 50%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        text-align: center;
        /* identical to box height, or 129% */
        background: rgba(196, 196, 196, 0.35);
        border-radius: 10px;

        padding: 10px;


        color: #FFFFFF;
    }

    // .title-right__decor

    &__decor {
        flex: 1 1 50%;
        align-self: center;
        
    }

    &__line {
        width: 100%;
        height: 1px;
        background: rgba(196, 196, 196, 0.35);
    }
}
.form {

    // .form__title

    &__title {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 18px;
        margin: 0 0 5px 0;
        /* identical to box height, or 129% */


        color: #032d49;
    }

    // .form__subtitle

    &__subtitle {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        margin: 0 0 5px 0;
        /* identical to box height, or 150% */


        color: #032d49;
    }

    // .form__date

    &__date {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        margin: 0 0 10px 0;
        /* identical to box height, or 200% */


        color: #405461;
    }

    // .form__text

    &__text {
        max-width: 75%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 14px;
        letter-spacing: 0.1em;
        /* or 156% */


        color: rgba(177, 219, 238, 0.8);
    }
}
.my-skill {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    
    // .my-skill__image

    &__image {
        background: rgba(196, 196, 196, 0.15);
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
        min-height: 100%;
    }

    // .my-skill__block

    &__block {
        flex: 1 1 33.3333%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    // .my-skill__icon

    &__icon {
        width: 100%;
        padding: 0 0 20px 0;

    }

    // .my-skill__title

    &__title {
        color: #ffffff;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.1em;
    }
}



//-------------------------------------------------
.footer {
  height: 50px;
  width: 100%;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
}
